/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// Define fonts for body and headers
$body-font: 'Open Sans', sans-serif;
$headers-font: 'Open Sans', sans-serif;


// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;
