// Your footer style
footer {
  background-color: black;
  width: 100%;
  min-height: 10vh;
  padding: 30px 5px;
}
.footer-header {
  width: 100%;
  display: grid;
}
.legales-links a {
  color: $light-gray;
}
.copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #7e7a7a;
}

